sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t youss/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true youss/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "eu-north-1"
  app: "docker-react"
  env: "docker-react-env"
  bucket_name: "elasticbeanstalk-eu-north-1-549884507688"
  bucket_path: "docker-react"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
